$font-stack: PT Sans, sans-serif, arial;
$primary-color: #ffbb02;
$link-color-hover: #010101;
$link-color-hover_footer: #d3d3d3;
$link-color: #818180;
$btn-color: #fcca02;
$btn-border-color: #fab500;
$input-border-color: #535353;